.centre-td {
    display: block;
    margin: auto;
}

.centre-text {
    text-align: center;
}

.right-marg {
    margin-right: 5px;
}

.killed {
    text-decoration: line-through;
    background-color:#b6b8b6;
}